@media (max-width: 500px) {
    :root {
        --lemoncolor: #FFFACDFF;
        --graycolor: #D3D3D3FF;
        --maincolor: #8B4513;
        --mainfontsize: 18px;
        --mainwidth: 98%;
        --shortwidth: 70%;
        --radius: 15px;
        --btnheight: 50px;
    }

    #root {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    #body {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    #newBody {
        display: flex;
        flex-direction: column;
        width: 500px;
    }

    label {
        font-size: var(--mainfontsize);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    #newHeader {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    header > img {
        width: 150px;
        height: fit-content;
        align-items: center;
    }

    .headerImg {
        width: 40px;
        height: fit-content;
    }

    caption,
    #caption {
        text-decoration: underline;
        font-size: var(--mainfontsize);
        margin-bottom: 30px;
        margin-top: 30px;
        text-align: center;
    }

    .blank {
        background-color: var(--graycolor);
        border: none;
        width: var(--mainwidth);
        height: 30px;
    }

    .submit {
        border: none;
        font-weight: bold;
        font-size: var(--mainfontsize);
        background-color: var(--lemoncolor);
        border-radius: var(--radius);
        margin-top: 30px;
        text-decoration: none;
        color: black;
        text-align: center;
        padding: 15px 30px;
    }

    form {
        margin-top: 30px;
    }

    #login, #findId, #resultId,
    #newPassword, #updateInfo
    #pinned{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div, label, input {
        margin-bottom: 8px;
    }

    #containImg {
        display: flex;
        justify-content: flex-end;
    }

    /*자물쇠, 체크버튼 이미지*/
    #newPassword > div > img,
    #updateInfo > div > img{
        width:fit-content;
        height:23px;
        position: absolute;
        z-index : 1;
        margin-top: 4px;
        margin-right: 4px;
    }

    #phoneNumOriginal {
        width: var(--mainwidth);
    }

    select {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        height: 40px;
        width: 100%;
    }

    select > option {
        font-size: 10px;
    }

    #dateSelect {
        display: flex;
        justify-content: space-between;
    }

    #dateSelect > select {
        width: 85px;
    }

    .mainLink {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    .mainLink > a {
        width: var(--mainwidth);
        color: black;
        text-decoration: none;
        font-size: var(--mainfontsize);
        font-weight: bold;
        border-radius: var(--radius);
        height: 60px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .gray {
        background-color: var(--graycolor);
    }

    .lemon {
        background-color: var(--lemoncolor);
    }

    table {
        border-collapse: collapse; /*이중선 제거*/
        font-size: var(--mainfontsize);
    }

    caption {
        text-decoration: underline;
        font-size: var(--mainfontsize);
        margin-bottom: 30px;
        margin-top: 30px;
    }

    tr {
        width: var(--mainwidth);
        height: 40px;
    }

    td {
        border-top: 1px solid black;
        width: 180px;
        padding-left: 10px;
    }

    th {
        border-top: 1px solid black;
        border-right: 1px solid black;
    }

    tr:last-child > th,
    tr:last-child > td {
        border-bottom: 1px solid black;
    }

    #result {
        margin-top: 30px;
        font-size: 15px;
        text-align: center;
        font-weight: bold;
    }

    #resultId {
        margin-top: 30px;
        background-color: var(--graycolor);
        height: 150px;
        text-align: left;
        padding-left: 60px;
    }

    .btn {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .certification {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }

    #phoneNum {
        width: var(--shortwidth);
    }

    .certi {
        background-color: var(--lemoncolor);
        border: none;
        border-radius: var(--radius);
    }

    #certiPhone {
        width: 80%;
    }

    .find {
        background-color: var(--lemoncolor);
        width: var(--mainwidth);
        height: var(--btnheight);
        border-radius: var(--radius);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }

    .find > a {
        color: black;
        text-decoration: none;
        font-size: var(--mainfontsize);
        font-weight: bold;
    }

    .btn {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .btn > a {
        padding : 10px;
        border-radius: var(--radius);
        color: black;
        text-decoration: none;
        font-size: var(--mainfontsize);
        background-color: var(--lemoncolor);
        text-align: center;
    }

    .btn > a:first-child {
        width:70px;
    }

    .loginLink {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .loginLink > a {
        color: black;
        font-size: 13px;
    }

    .pin {
        font-size: var(--mainfontsize);
        border: none;
        background-color: var(--graycolor);
        border-radius: var(--radius);
        margin-top: 30px;
        margin-bottom: 30px;
        text-decoration: none;
        color: black;
        text-align: center;
        width: 60%;
        padding: 10px 10px;
        margin-left: 18%;
    }

    .pin > span {
        color: var(--maincolor);
        font-weight: bold;
    }

    /*main CSS*/
    #main_noLogin {
        background-color: var(--lemoncolor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .loc {
        display: flex;
        align-items: center;
    }

    .loc > p {
        font-size: 15px;
        margin-left: 15px;
        width: 220%;
    }

    .loc > p > span {
        color: var(--maincolor);
        font-size: var(--mainfontsize);
        font-weight: bold;
    }

    .setLoc {
        display: flex;
        align-items: center;
        margin: 3%;
        width: 75%;
        border: none;
        background-color: var(--lemoncolor);

    }

    .locationText {
        margin-bottom: 0;
    }

    .locImg {
        width: 20%;
        height: fit-content;
    }

    .image-grid {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 5%;
        margin-top: 4%;
    }

    .image-container {
        margin-bottom: 15px;
        padding-top: 4%;
        background-color: white;
        flex: 1 1 calc(50% - 10px); /* 2개씩 한 줄에 배치, 간격 보정 */
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; /* 북마크 아이콘 위치 조정을 위해 필요 */
        flex-grow: unset;
    }

    .resImg {
        width: 130px;
        height: auto;
    }

    .bookmark-image1 {
        width: 10%;
        position: absolute;
        top: 17px; /* 원하는 위치로 조정 */
        right: 40px; /* 원하는 위치로 조정 */
    }

    .bookmark-image2 {
        width: 15%;
        position: absolute;
        top: 15px; /* 원하는 위치로 조정 */
        right: 15px; /* 원하는 위치로 조정 */
    }

    .image-caption {
        margin: 5px 0;
    }

    #menu {
        padding: 6%;
        width: 60%;
        border-radius: var(--radius);
        background-color: var(--graycolor);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        margin-left: 14%;
    }

    #menu > span {
        border: 1px solid black;
        width: 84%;
        margin-left: 8%;
        margin-bottom: 10px;
    }

    .title {
        color: var(--maincolor);
    }

    /*search CSS*/
    #searchBar {
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }

    #searchBar > img {
        width: 10%;
    }

    #searchBar > img:first-child {
        rotate: 180deg;
    }

    .search {
        border: none;
        margin: 1px;
        width: 100%;
        font-size: var(--mainfontsize);
    }

    .search-options {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        margin-top: 15px;
    }

    .search-options div {
        display: flex;
        justify-content: space-around;
    }

    .search-option {
        width: 45%;
        padding: 13px 20px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-weight: bold;
    }

    .recent-searches {
        border-top: 1px solid #ccc;
        padding-top: 20px;
        width: 80%;
        margin-left: 10%;
    }

    .recent-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .clear-all {
        border: none;
        background: none;
        cursor: pointer;
        color: dimgray;
    }

    .recent-list {
        list-style: none;
        padding: 0;
    }

    .recent-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .recent-item div {
        display: flex;
        gap: 5px;
    }

    .date, .clear-item {
        color: dimgray;
    }

    .recent-item img {
        width: 7%;
    }

    .clear-item {
        border: none;
        background: none;
        cursor: pointer;
    }

    /*scrapRestaurant CSS*/
    h4 {
        margin-left: 20px;
    }

    /*detailRestaurant CSS*/
    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #top {
        display: flex;
        height: fit-content;
        justify-content: space-around;

    }

    #meal {
        font-weight: bold;
    }

    #menuBox {
        padding: 3%;
        width: 50%;
        border-radius: var(--radius);
        background-color: var(--graycolor);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 6%;
    }

    #menuBox > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menuBox > div:first-child > div {
        margin: 0 15px;
    }

    .last {
        width: 15px;
        height: 15px;
        rotate: 270deg;
    }

    .next {
        width: 15px;
        height: 15px;
        rotate: 90deg;
    }


    #menuBox > span {
        border: 1px solid black;
        width: 84%;
        margin-left: 8%;
        margin-bottom: 10px;
    }

    #right {
        width:50%;
        margin-left: 3%;
    }

    #reviewBox {
        border: none;
        font-weight: bold;
        font-size: var(--mainfontsize);
        background-color: var(--lemoncolor);
        border-radius: var(--radius);
        text-align: center;
        padding: 30px 30px;
        width: 92%;
    }

    #reviewBox > a {
        text-decoration: none;
        color: black;
    }

    #likeBox {
        text-align: left;
        padding: 30px 10px;
        border-radius: var(--radius);
        margin-top: 15px;
        width: 80%;
        background-color: var(--graycolor);
    }

    p {
        margin: 0;
    }

    p > img {
        width: 13%;
        height: 13%;
    }

    #bottom > .image-grid {
        flex-wrap: nowrap;
        align-items: center;
        background-color: var(--graycolor);
        border-radius: var(--radius);
        padding-bottom: 3%;
    }

    #bottom .image-container{
        margin: 0;
        padding: 0;
    }

    .detail {
        font-weight: bold;
    }

    /*hotMenu*/
    #hot {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 250px;
        text-align: center;
        height: 130px;
        padding: 10px;
        width: 100%;
    }

    #hot > p {
        font-size: 20px;
        font-weight: bold;
    }

    #hot > hr {
        color: black;
    }

    #hot div {
        font-size: var(--mainfontsize);
    }

    #hot img {
        width: 25px;
        height: 25px;
    }

    #hot button {
        display: none;
    }

    #hot > h5 {
        margin-top: 20px;
    }

}